<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <nav>
            <ul class="nav-links">
                <li><a href="/events">Manage Events</a></li>
                <li><a href="/attendees">Manage Attendees</a></li>
                <li><a href="/venues">Manage Venues</a></li>
                <li><a href="/organizers">Manage Organizers</a></li>
                <li><a href="/payments">Manage Payments</a></li>
                <li><a href="/attendees_events">Manage Event Registrations</a></li>
            </ul>
        </nav>
        {{{body}}} </div>
</body>
</html>